@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
}
.logo:hover{
  transform:translateX(3%);
}
.btn-shadow {
  box-shadow: 3px 3px 0 black;
}
.btn-shadow:hover {
  box-shadow: 1.5px 1.5px 0 black;
  transform: translate(0.5%, 0.5%);
}
.btn-shadow:active {
  box-shadow: 0px 0px 0 black;
  transform: translate(2%, 2%);
}
.nav-tooltip:hover span {
  opacity: 1;
}
.selected-dot {
  @apply flex justify-center items-center w-[62px] h-[62px] bg-purple p-2 m-auto border-solid border-black border-[3px] rounded-lg outline-none btn-shadow relative left-[-14px] duration-200 ease-in
}